html,
body {
  box-sizing: border-box;
  background-color: #000;
  color: #FFFFFF;
  font-family: 'Work Sans', sans-serif;
  margin: 0px;
  overflow-x: hidden;
  
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}